.span10 .item {
	height: 130px;
	float: left;
	margin: 10px;
}

.span9 .item {
	height: 130px;
	float: left;
	margin: 10px;
}

.span3 .item {
	width: 40%;
	height: 110px;
	margin: 10px;
	float: left;
}

.span2 .item {
	width: 100%;
	height: 110px;
	margin: 10px;
	float: left;
}

.span10 img {
	width: 188px;
	height : 128px;
}

.span9 img {
	width: 188px;
	height : 128px;
}
.span8 img {
	width: 188px;
	height : 128px;
}

img {
	width: 148px;
	height: 148px;
}

#content-area {
    height: 100%;
    margin: 20 0 0 0;
}

#container{
    margin: 0 0 0 50;
    padding: 10;
}

#container2{
    margin: 0 0 0 10;
    
}


/* scroll bar effect from http://css-tricks.com/custom-scrollbars-in-webkit/ */
/* want to use for masonry containers */

/* Let's get this party started */
#container::-webkit-scrollbar{
    width: 6px;
}
 
/* Track */
#container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(63,71,63,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#container::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}