html, body {
    height: 100%;
    overflow: auto;
}

body{
	margin: 0px;
	padding: 0px;
    /* background image full screen with css3 - we're being progressive! */
    /* photo credit to Desktop Nexus */
    background: url('../img/sunoverhill.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    /* some sort of IE hack */
    /* from: http://css-tricks.com/perfect-full-page-background-image/ */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sunoverhill.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sunoverhill.jpg', sizingMethod='scale')";
}

/* STYLE FOR MENU/CONTROL BOX */
#controls{
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(0,0,0, .2); /* Black menu + 60% opacity */
	width: 60%;
	height: 40px;
    padding: 10;
    position: relative; 
    color: white; 
    z-index: 999;
}

#credits{
    font-size: 80%;
    margin: 0 10 0 0;
}

/* STYLE FOR NAME TAG */
#nametag{
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(0,0,0, .6); /* Black menu + 60% opacity */
	width: 93%;
	height: 100px;
    padding: 10;
    position: relative; 
    color: white; 
    z-index: 999;
}

#summary{
    float: left;
    margin: 0 0 0 10;
}

#photo{
    margin: 3 0 0 180; 
}

#face{
    float: left;
    /* double border effect */
    padding: 1px;
    border: 1px solid 06E06D;
    /* adds color to double border */
    background-color:#04A650;
    /*#021a40;*/
}

.verticalLine {
    width:1px;
    height:100px;
    background: rgba(0,0,0, .7);
    float:left;
    margin: 0 0 0 20;
}

#tagline{
    color: gray;
}

/* STYLE FOR ICONS */
.icons{
    color: #08C;
    text-decoration: none;
}

.icons:hover{
    color:#005580;
    text-decoration: none;
}

#icon{
    color: #08C;
    text-decoration: none;
}

#icon:hover{
    color:#005580;
    text-decoration: none;
}


/* STYLE FOR MARKDOWN */
.markdown {
    background : rgba(0, 0, 0, .6);
    color : B1BBB2;
    height : 500px !important;
    overflow: auto !important;
}

.home {
    width:100%;
}


/* STYLE FOR TILES AND CONTAINERS */

/* span item sizes */
.span10 .item {
	height: 130px;
	float: left;
	margin: 10px;
}

.span9 .item {
	height: 130px;
	float: left;
	margin: 10px;
}

.span3 .item {
	width: 40%;
	height: 110px;
	margin: 10px;
	float: left;
}

.span2 .item {
	width: 100%;
	height: 110px;
	margin: 10px;
	float: left;
}
/* end span item sizes */
/* span image sizes */
.span10 img {
	width: 188px;
	height : 128px;
}

.span9 img {
	width: 188px;
	height : 128px;
}
.span8 img {
	width: 188px;
	height : 128px;
}
/* end span image sizes */

img {
	width: 148px;
	height: 148px;
}
/* styling for content containers */
#content-area {
    height: 100%;
    margin: 20 0 0 0;
}

#container{
    margin: -10 0 0 50;
    padding: 20;
}

#container2{
    margin: 0 0 0 10;
}

/* SCROLL BAR */

/***
 * scroll bar effect from http://css-tricks.com/custom-scrollbars-in-webkit/ 
 * used in data containers 
 ***/

#container::-webkit-scrollbar{
    width: 6px;
}
 
/* Track */
#container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(63,71,63,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* color when window is inactive */
#container::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}
