html, body {
    height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
    /*background-color: blue;*/
    
    /* background image full screen with css3 - we're being progressive! */
    /* photo credit to David Kennard for the testing image */
    background: url('http://static2.davidkennardphotography.com/Img/3016-Grassy-field-at-sunset.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    /* some sort of IE hack */
    /* from: http://css-tricks.com/perfect-full-page-background-image/ */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static2.davidkennardphotography.com/Img/3016-Grassy-field-at-sunset.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static2.davidkennardphotography.com/Img/3016-Grassy-field-at-sunset.jpg', sizingMethod='scale')";
    
}

#menu{
	background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(0,0,0, .6); /* Black menu + 60% opacity */
	width: 150px;
	height: 100%;
    
    margin: 0 0 0 0;
    
    color: white; /* for text right now */
    
	position: fixed; /* left side fixed */
    
}

#nametag{
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(0,0,0, .6); /* Black menu + 60% opacity */
	width: 93%;
	height: 100px;
    padding: 10;
    position: relative; 
    
    color: white; /* for text now */
    
    /*
    top: 0;
    left: 100;
    */
    z-index: 999;

}

#controls{
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(0,0,0, .2); /* Black menu + 60% opacity */
	width: 50%;
	height: 20px;
    padding: 10;
    position: relative; 
    
    color: white; /* for text now */
    
    /*
    top: 0;
    left: 100;
    */
    z-index: 999;

}

#summary{
    float: left;
    margin: 0 0 0 10;
}

#photo{
    margin: 3 0 0 180; 
}

#face{
    float: left;
    /* double border effect */
    padding: 1px;
    border: 1px solid 06E06D;
    /* adds color to double border */
    background-color:#04A650;
    /*#021a40;*/


}

.verticalLine {
    width:1px;
    height:100px;
    background: rgba(0,0,0, .7);
    float:left;
    margin: 0 0 0 20;
}

#tagline{
    color: gray;

}

.icons{
    color: #08C;
    text-decoration: none;
}

.icons:hover{
    color:#005580;
    text-decoration: none;
}

#credits{
    color: gray;
    font-size: 80%;
    margin: 0 10 0 0;
}

.markdown {
    background : rgba(0, 0, 0, .6);
    color : B1BBB2;
    height : 500px !important;
    overflow: auto !important;
}

.home {
    width:100%;
}